<footer>
  <ul class="footer-container">
    <li class="footer-item">
      <div class="footer-company">
        <a href="/"><img src="images/logo.png" class="logo" alt="Homely Havens"></a>
        <h4 class="text-start">Homely Havens</h4>
      </div>
      <span class="footer-subtitle">
        We will help you find a home at the best prices in your desired location.
      </span>
    </li>
    <li class="footer-item">
      <h4>About</h4>
      <div class="footer-subtitle">
        <p><a href="#">About us</a></p>
        <p><a href="#">Features</a></p>
      </div>
    </li>
    <li class="footer-item">
      <h4>Company</h4>
      <div class="footer-subtitle">
        <p><a href="#">Our Team</a></p>
        <p><a href="#">FAQ</a></p>
      </div>
    </li>
    <li class="footer-item">
      <h4>Support</h4>
      <div class="footer-subtitle">
        <p><a href="#">Feedback</a></p>
        <p><a href="#">Contact Us</a></p>
      </div>
    </li>
    <li class="footer-item">
      <h4>Get in touch</h4>
      <div class="footer-subtitle">
        <div class="social-container">
          <a href="#"><img src="images/icons/facebook.png" class="social" alt="Facebook" /></a>
          <a href="#"><img src="images/icons/twitter.png" class="social" alt="Twitter" /></a>
        </div>
      </div>
    </li>
  </ul>
  <div class="references-container">
    <p class="reference"><strong>Design Inspiration:</strong> 
      <br /> [Dribbble Real Estate Website Template](https://dribbble.com/shots/14539896-Real-Estate-Website-template-design)
      <br /> [Dribbble Real Estate Landing Page](https://dribbble.com/shots/16451579-Real-Estate-Landing-Page)
    </p>
    <p class="reference"><strong>Website Inspiration:</strong> [VRBO - Vacation Rentals By Owner](https://www.vrbo.com/)</p>
    <p class="reference"><strong>Icons by:</strong> [Flaticon](https://www.flaticon.com/)</p>
  </div>
  <div class="copyright">
    <p>
      By submitting this assignment I declare that this assignment is my own work in accordance with
      the Seneca Academic Policy. No part of this assignment has been copied manually or
      electronically from any other source (including web sites) or distributed to other students.
    </p>
    <p>
      © Melchi Lloyd Aballe, maballe@myseneca.ca, WEB322 Winter 2023
    </p>
  </div>
</footer>