<header class="d-flex">
  <div class="company">
    <a class="" href="/"><img src="images/logo.png" class="logo" alt="Homely Havens"></a>
    <h3 class="company-name">Homely Havens</h3>
  </div>
  <nav>
    <ul class="d-flex mb-0">
      <li><a class="nav-link" href="/">Home</a></li>
      <li><a class="nav-link" href="/rentals">Rentals</a></li>
      <li><a class="nav-link" href="/log-in">Log in</a></li>
      <li><a class="nav-link" href="/sign-up">Sign up</a></li>
    </ul>
  </nav>
</header>