<div class="container">
  <div class="d-flex justify-content-center gap-5">
    <div class="form-container">
      <div class="card d-flex flex-row">
        <div class="image-container">
          <img src="images/login.jpg" />
        </div>
        <form>
          <div class="d-flex flex-column justify-content-center text-center">
            <h5>Log in</h5>
            <p>Doesn't have an account yet? <a href="/sign-up">Sign up</a></p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Your email address">
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="current-password">
          </div>
          <button class="btn w-full">
            Log in
          </button>
        </form>
      </div>
    </div>
  </div>
</div>