<div class="container">
    <div class="welcome-container">
     <div>
       <img class="header-icon" src="images/logo.png" class="logo" alt="Homely Havens">
       <h1 class="header-title"><%= message.header %></h1>
       <h3 class="header-sub-text"><%= message.content %></h3>
     </div>
    </div>
</div>