<div class="container">
    <div class="welcome-container">
        <div>
            <img class="header-icon" src="images/logo.png" class="logo" alt="Homely Havens">
            <h1 class="header-title">WELCOME TO HOMELY HAVENS</h1>
            <h3 class="header-sub-text">Cart is still on the works brb</h3>
        </div>
    </div>
</div>